form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

form div{
    padding-bottom: 10px;
}

from div .radio{
    color:#e5e;
    background-color: #e5e;
}